* text=auto !eol
src/cmpl/CMPL_Parser.yy -text
src/cmpl/CMPL_Scanner.l -text
src/cmpl/Compiler.cc -text
src/cmpl/Compiler.hh -text
src/cmpl/FileIO.cc -text
src/cmpl/FileIO.hh -text
src/cmpl/IntFuncBase.cc -text
src/cmpl/IntFuncBase.hh -text
src/cmpl/IntFuncCode.cc -text
src/cmpl/IntFuncCode.hh -text
src/cmpl/IntFuncCtrl.cc -text
src/cmpl/IntFuncCtrl.hh -text
src/cmpl/IntFuncDef.cc -text
src/cmpl/IntFuncDef.hh -text
src/cmpl/IntFuncEnv.cc -text
src/cmpl/IntFuncEnv.hh -text
src/cmpl/IntFuncIndex.cc -text
src/cmpl/IntFuncIndex.hh -text
src/cmpl/IntFuncLine.cc -text
src/cmpl/IntFuncLine.hh -text
src/cmpl/IntFuncOper.cc -text
src/cmpl/IntFuncOper.hh -text
src/cmpl/IntFuncTerm.cc -text
src/cmpl/IntFuncTerm.hh -text
src/cmpl/IntFuncValue.cc -text
src/cmpl/IntFuncValue.hh -text
src/cmpl/Interpreter.cc -text
src/cmpl/Interpreter.hh -text
src/cmpl/Main.cc -text
src/cmpl/Main.hh -text
src/cmpl/SetIter.cc -text
src/cmpl/SetIter.hh -text
src/cmpl/Start.cc -text
src/cmpl/_CMPL_Parser.cc -text
src/cmpl/_CMPL_Parser.hh -text
src/cmpl/_CMPL_Scanner.cc -text
src/cmpl/gen.h -text
src/cmpl/gencode.h -text
src/cmpl/genstart.h -text
src/cmpl/gentext.h -text
src/cmpl/location.hh -text
src/cmpl/makefile -text
src/cmpl/position.hh -text
src/cmpl/stack.hh -text
src/cmplFrame/cFException.cc -text
src/cmplFrame/cFException.hh -text
src/cmplFrame/cfResultStructure.h -text
src/cmplFrame/cfStatus.h -text
src/cmplFrame/cfresult.cc -text
src/cmplFrame/cfresult.hh -text
src/cmplFrame/cmplFrame.cc -text
src/cmplFrame/cmplFrame.hh -text
src/cmplFrame/mprl.cc -text
src/cmplFrame/mprl.hh -text
src/cmplFrame/mprlstructure.h -text
src/eCMPL/eCmplStatus.h -text
src/eCMPL/ecmpl.cc -text
src/eCMPL/ecmpl.hh -text
src/eCMPL/ecmplio.cc -text
src/eCMPL/ecmplio.hh -text
src/examples/Makefile -text
src/examples/cflocal.cc -text
src/examples/cflocal.hh -text
src/examples/cfremoteasynchronously.cc -text
src/examples/cfremoteasynchronously.hh -text
src/examples/cfremotesynchronously.cc -text
src/examples/cfremotesynchronously.hh -text
src/examples/cmplFrameExamples.pro -text
src/examples/cmplFrameExamples.pro.user -text
src/examples/cmplFrameExamplesMain.cc -text
