* text=auto !eol
/AUTHORS -text
data/build-COIN-OS-for-cmpl -text
data/build-GLPK-for-cmpl -text
data/check_bison_flex -text
data/get-Coliop -text
data/gurobiCmpl/gurobiCmpl.py -text
data/linux/INSTALLATION -text
data/linux/README -text
data/linux/cmpl -text
data/linux/cmpl.opt -text
data/linux/coliop -text
data/linux/coliop3.opt -text
data/linux/deinstall -text
data/linux/helpBrowser -text
data/linux/install -text
data/makePackage -text
data/osx/INSTALLATION -text
data/osx/README -text
data/osx/cmpl -text
data/osx/cmpl.opt -text
data/osx/coliop -text
data/osx/coliop.app/Contents/Info.plist -text
data/osx/coliop.app/Contents/MacOS/applet -text
data/osx/coliop.app/Contents/PkgInfo -text
data/osx/coliop.app/Contents/Resources/Scripts/main.scpt -text
data/osx/coliop.app/Contents/Resources/applet.icns -text
data/osx/coliop.app/Contents/Resources/applet.rsrc -text
data/osx/coliop.app/Contents/Resources/description.rtfd/TXT.rtf -text
data/osx/coliop3.opt -text
data/osx/deinstall -text
data/osx/install -text
data/win/INSTALLATION -text
data/win/README -text
data/win/cmpl.opt -text
data/win/cmplShell.bat -text
data/win/coliop.bat -text
data/win/coliop3.opt -text
