* text=auto !eol
/AUTHORS -text
/INSTALL -text
/LICENSE -text
/README -text
/cmpl.pro -text
/cmplMake -text
data/build-COIN-OS-for-cmpl -text
data/build-GLPK-for-cmpl -text
data/check_bison_flex -text
data/get-Coliop -text
data/gurobiCmpl/gurobiCmpl.py -text
data/linux/INSTALLATION -text
data/linux/README -text
data/linux/cmpl -text
data/linux/cmpl.opt -text
data/linux/coliop -text
data/linux/coliop3.opt -text
data/linux/deinstall -text
data/linux/helpBrowser -text
data/linux/install -text
data/makePackage -text
data/osx/INSTALLATION -text
data/osx/README -text
data/osx/cmpl -text
data/osx/cmpl.opt -text
data/osx/coliop -text
data/osx/coliop.app/Contents/Info.plist -text
data/osx/coliop.app/Contents/MacOS/applet -text
data/osx/coliop.app/Contents/PkgInfo -text
data/osx/coliop.app/Contents/Resources/Scripts/main.scpt -text
data/osx/coliop.app/Contents/Resources/applet.icns -text
data/osx/coliop.app/Contents/Resources/applet.rsrc -text
data/osx/coliop.app/Contents/Resources/description.rtfd/TXT.rtf -text
data/osx/coliop3.opt -text
data/osx/deinstall -text
data/osx/install -text
data/win/INSTALLATION -text
data/win/README -text
data/win/cmpl.opt -text
data/win/cmplShell.bat -text
data/win/coliop.bat -text
data/win/coliop3.opt -text
doc/CMPL.pdf -text
examples/bisection.cmpl -text
examples/diet.cmpl -text
examples/diet.mat -text
examples/diet.sol -text
examples/fibonacci.cmpl -text
examples/knapsack-data.cmpl -text
examples/knapsack-max-basic.cmpl -text
examples/knapsack-max-presolved.cmpl -text
examples/knapsack-min-basic.cmpl -text
examples/knapsack-min-presolved.cmpl -text
examples/math-functions.cmpl -text
examples/primes.cmpl -text
examples/production-mix-a.csv -text
examples/production-mix-b.csv -text
examples/production-mix-c.csv -text
examples/production-mix-csv.cmpl -text
examples/production-mix-fixed-costs.cmpl -text
examples/production-mix-xmax.csv -text
examples/production-mix.cmpl -text
examples/quadratic-assignment.cmpl -text
examples/test.cmpl -text
examples/transportation.cmpl -text
examples/tsp.cmpl -text
src/Cmpl.cc -text
src/cmpl/CMPL_Parser.yy -text
src/cmpl/CMPL_Scanner.l -text
src/cmpl/CmplCore.cc -text
src/cmpl/CmplCore.hh -text
src/cmpl/Compiler.cc -text
src/cmpl/Compiler.hh -text
src/cmpl/FileIO.cc -text
src/cmpl/FileIO.hh -text
src/cmpl/IntFuncBase.cc -text
src/cmpl/IntFuncBase.hh -text
src/cmpl/IntFuncCode.cc -text
src/cmpl/IntFuncCode.hh -text
src/cmpl/IntFuncCtrl.cc -text
src/cmpl/IntFuncCtrl.hh -text
src/cmpl/IntFuncDef.cc -text
src/cmpl/IntFuncDef.hh -text
src/cmpl/IntFuncEnv.cc -text
src/cmpl/IntFuncEnv.hh -text
src/cmpl/IntFuncIndex.cc -text
src/cmpl/IntFuncIndex.hh -text
src/cmpl/IntFuncLine.cc -text
src/cmpl/IntFuncLine.hh -text
src/cmpl/IntFuncOper.cc -text
src/cmpl/IntFuncOper.hh -text
src/cmpl/IntFuncTerm.cc -text
src/cmpl/IntFuncTerm.hh -text
src/cmpl/IntFuncValue.cc -text
src/cmpl/IntFuncValue.hh -text
src/cmpl/Interpreter.cc -text
src/cmpl/Interpreter.hh -text
src/cmpl/SetIter.cc -text
src/cmpl/SetIter.hh -text
src/cmpl/Tupelset.cc -text
src/cmpl/Tupelset.hh -text
src/cmpl/_CMPL_Parser.cc -text
src/cmpl/_CMPL_Parser.hh -text
src/cmpl/_CMPL_Scanner.cc -text
src/cmpl/gen.h -text
src/cmpl/gencode.h -text
src/cmpl/genstart.h -text
src/cmpl/gentext.h -text
src/cmpl/location.hh -text
src/cmpl/makefile -text
src/cmpl/position.hh -text
src/cmpl/stack.hh -text
src/cmplUtil/ArgError.cc -text
src/cmplUtil/ArgError.hh -text
src/cmplUtil/CmplArgs.cc -text
src/cmplUtil/CmplArgs.hh -text
src/cmplUtil/CmplException.hh -text
src/cmplUtil/CmplFileType.cc -text
src/cmplUtil/CmplFileType.hh -text
src/cmplUtil/CmplIO.cc -text
src/cmplUtil/CmplIO.hh -text
src/cmplUtil/CmplIOStream.cc -text
src/cmplUtil/CmplIOStream.hh -text
src/cmplUtil/CmplInstance[!!-~]Kopie.cc -text
src/cmplUtil/CmplInstance[!!-~]Kopie.hh -text
src/cmplUtil/CmplInstance.cc -text
src/cmplUtil/CmplInstance.hh -text
src/cmplUtil/CmplTools.cc -text
src/cmplUtil/CmplTools.hh -text
src/cmplUtil/cfresult.cc -text
src/cmplUtil/cfresult.hh -text
src/cmplUtil/mprl.cc -text
src/cmplUtil/mprl.hh -text
test/01_Standardmodell.cmpl -text
test/01_Standardmodell.comp.mps -text
test/02_Standardmodell.cmpl -text
test/02_Standardmodell.comp.mps -text
test/03_Fibonacci.cmpl -text
test/03_Fibonacci.comp.mps -text
test/04_Primzahlen.cmpl -text
test/04_Primzahlen.comp.mps -text
test/05_IntervallLinearisierung.cmpl -text
test/05_IntervallLinearisierung.comp.mps -text
test/06_Variablenprodukte.A.cmpl -text
test/06_Variablenprodukte.A.comp.mps -text
test/06_Variablenprodukte.B.cmpl -text
test/06_Variablenprodukte.B.comp.mps -text
test/06_Variablenprodukte.C.cmpl -text
test/06_Variablenprodukte.C.comp.mps -text
test/06_Variablenprodukte.C.comp.stderr -text
test/07_Mehrkriteriell.cmpl -text
test/07_Mehrkriteriell.comp.mps -text
test/08_SummeNegiert.cmpl -text
test/08_SummeNegiert.comp.mps -text
test/09_Beispiel_Steglich.cmpl -text
test/09_Beispiel_Steglich.comp.mps -text
test/09_Beispiel_Steglich.comp.stdout -text
test/09_Include.gen -text
test/10_Beispiel_Rost.cmpl -text
test/10_Beispiel_Rost.comp.mps -text
test/11_Beispiel_Roemer.cmpl -text
test/11_Beispiel_Roemer.comp.mps -text
test/11_Beispiel_Roemer2.cmpl -text
test/11_Beispiel_Roemer2.comp.mps -text
test/12_Test_Loop.cmpl -text
test/12_Test_Loop.comp.stdout -text
test/13_Test_Set.cmpl -text
test/13_Test_Set.comp.stderr -text
test/13_Test_Set.comp.stdout -text
test/14_Test_Summe.cmpl -text
test/14_Test_Summe.comp.mps -text
test/15_Test_Osil.cmpl -text
test/15_Test_Osil.comp.osil -text
test/15_Test_Osil.comp.stdout -text
test/16_diet.cmpl -text
test/16_diet.comp.osil -text
test/17_knapsack-min-presolved.cmpl -text
test/17_knapsack-min-presolved.comp.stdout -text
test/18_max-negative-convex-function.cmpl -text
test/18_max-negative-convex-function.comp.stdout -text
test/19_quadratic-assignment.cmpl -text
test/19_quadratic-assignment.cmpl.time -text
test/19_quadratic-assignment.comp.osil -text
test/20_math-functions.cmpl -text
test/20_math-functions.comp.stderr -text
test/20_math-functions.comp.stdout -text
test/21_testcsvrand.cmpl -text
test/21_testcsvrand.comp.osil -text
test/21_testcsvrand.comp.stdout -text
test/22_diet.cmpl -text
test/22_diet.comp.mprl -text
test/22_diet.comp.stdout -text
test/23_production-mix.cmpl -text
test/23_production-mix.comp.mprl -text
test/23_production-mix.comp.stdout -text
test/a/test.gen -text
test/knapsack-data.cmpl -text
test/test-all -text
test/test-cmpl -text
test/testcsvmatrix.csv -text
test/testcsvvector.csv -text
