[Desktop Entry]
Name=Coliop
Comment=Coliop GUI for CMPL 
Exec=coliop
Icon=/usr/share/Cmpl/ressources/cmpl.png
Terminal=false
Type=Application
Categories=Application;Education;Development;
StartupNotify=true

